body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #f7f7f7;
    width: 100%;
    text-align: center;
    width: 750px;
    margin: 0px auto;
  }
  
  .topnav a {
    float: left;
    color: #404040;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    width:150px;
  }
  
  .topnav a:hover {
    background-color: #f3f3f3;
    color: #404040;
  }
  
  .topnav a.active {
    background-color: #ededed;
    color: #404040;
  }
