*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #252525;
  font-family: sans-serif;
  height: 100vh;
}

nav{
  width: 550px;
  height: 50px;
  background-color: #404040;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 50px;
  display: inline-block;
}

nav a :nth-child(1){
  width: 100px;
}
nav a :nth-child(2){
  width: 90px;
}
nav a :nth-child(3){
  width: 130px;
}

nav a :nth-child(4){
  width: 120px;
}

